<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    
    <add name="connectionToSql"
   connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=DBSqlClient;Integrated Security=True"
   providerName="System.Data.SqlClient"
         />

    <add name="connectionToProduct"
     connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=DBSqlProduct;Integrated Security=True"
     providerName="System.Data.SqlClient"
         />

  </connectionStrings>

</configuration>